.button-card {
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: center;
  align-items: center;
}

.cart-card .set-button {
  font-size: 15px;
}

.cart-items {
  font-family: monospace;
  margin-top: 26px;
  text-align: center;
  color: rgb(148, 4, 4);
  font-weight: bold;
  font-size: 18px;
}

.list {
  list-style: none;
  position: relative;
  padding-left: 28px;
  margin: 8px 0;
  font-family: monospace;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  justify-content: space-between;
}

.list::before {
  content: "";
  position: absolute;
  left: 0;
  top: 6px;
  width: 16px;
  height: 16px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='darkblue' viewBox='0 0 24 24'%3E%3Ccircle cx='12' cy='12' r='6'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: contain;
}

.remove {
  border: none;
  background-color: rgb(5, 5, 116);
  color: #fff;
  font-weight: bold;
  font-size: 15px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  cursor: pointer;
  padding-bottom: 5px;
}

.clear {
  border: none;
  color: #fff;
  font-weight: bolder;
  background-color: black;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 10px;
  font-size: 16px;
}
