.search-icon {
  border: 2px solid rgb(71, 2, 2);
  padding: 10px;
  font-size: 18px;
}

.search {
  border: none;
  background-color: black;
  color: beige;
  font-weight: bold;
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
}

.search-bar {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
